
\restrict Wq3rrHMyyk68XeBUWg8qEsZqlIAdOWxKF9jGbVxlK856L84AbevUSbWckxzBjcC


SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE EXTENSION IF NOT EXISTS "pg_net" WITH SCHEMA "extensions";






COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE EXTENSION IF NOT EXISTS "pg_graphql" WITH SCHEMA "graphql";






CREATE EXTENSION IF NOT EXISTS "pg_stat_statements" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "pgcrypto" WITH SCHEMA "extensions";






CREATE EXTENSION IF NOT EXISTS "supabase_vault" WITH SCHEMA "vault";






CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA "extensions";






CREATE OR REPLACE FUNCTION "public"."get_current_election"() RETURNS TABLE("id" "uuid", "election_name" "text", "election_date" "date", "timezone" "text", "election_level" "text", "scope_state" "text", "scope_city" "text", "scope_city_ibge" "text", "created_at" timestamp with time zone, "updated_at" timestamp with time zone)
    LANGUAGE "plpgsql" SECURITY DEFINER
    AS $$
BEGIN
  RETURN QUERY
  SELECT 
    es.id,
    es.election_name,
    es.election_date,
    COALESCE(es.timezone, 'America/Sao_Paulo') as timezone,
    COALESCE(es.election_level, es.election_type) as election_level,
    COALESCE(es.scope_state, es.uf) as scope_state,
    COALESCE(es.scope_city, es.city) as scope_city,
    es.scope_city_ibge,
    es.created_at,
    es.updated_at
  FROM public.election_settings es
  ORDER BY es.updated_at DESC
  LIMIT 1;
END;
$$;


ALTER FUNCTION "public"."get_current_election"() OWNER TO "postgres";


COMMENT ON FUNCTION "public"."get_current_election"() IS 'Retorna a configura????o de elei????o mais recente';



CREATE OR REPLACE FUNCTION "public"."sync_public_settings"() RETURNS "void"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  UPDATE public.public_settings 
  SET 
    election_name = es.election_name,
    election_date = es.election_date,
    timezone = es.timezone,
    election_level = es.election_level,
    scope_state = es.scope_state,
    scope_city = es.scope_city,
    scope_city_ibge = CASE 
      WHEN es.scope_city_ibge IS NULL OR es.scope_city_ibge = '' THEN NULL
      ELSE es.scope_city_ibge::bigint
    END,
    updated_at = now()
  FROM (
    SELECT * FROM public.election_settings 
    ORDER BY updated_at DESC 
    LIMIT 1
  ) es
  WHERE public.public_settings.id = 1;
END;
$$;


ALTER FUNCTION "public"."sync_public_settings"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."trigger_sync_public_settings"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  PERFORM public.sync_public_settings();
  RETURN COALESCE(NEW, OLD);
END;
$$;


ALTER FUNCTION "public"."trigger_sync_public_settings"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."update_updated_at_column"() RETURNS "trigger"
    LANGUAGE "plpgsql"
    AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$;


ALTER FUNCTION "public"."update_updated_at_column"() OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."app_admins" (
    "user_id" "uuid" NOT NULL,
    "note" "text"
);


ALTER TABLE "public"."app_admins" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."invite_tokens" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email" "text" NOT NULL,
    "full_name" "text" NOT NULL,
    "phone" "text",
    "role" "text" DEFAULT 'LEADER'::"text" NOT NULL,
    "token" "text" NOT NULL,
    "expires_at" timestamp with time zone NOT NULL,
    "created_by" "uuid",
    "accepted_at" timestamp with time zone,
    "leader_profile_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."invite_tokens" OWNER TO "postgres";


COMMENT ON TABLE "public"."invite_tokens" IS 'Tokens de convite para novos líderes';



CREATE TABLE IF NOT EXISTS "public"."leader_profiles" (
    "id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "phone" "text",
    "birth_date" "date",
    "gender" "text",
    "cep" "text",
    "street" "text",
    "number" "text",
    "complement" "text",
    "neighborhood" "text",
    "city" "text",
    "state" "text",
    "notes" "text",
    "status" "text" DEFAULT 'ACTIVE'::"text" NOT NULL,
    "latitude" numeric,
    "longitude" numeric,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "goal" integer DEFAULT 100,
    CONSTRAINT "leader_profiles_gender_check" CHECK (("gender" = ANY (ARRAY['M'::"text", 'F'::"text", 'O'::"text"]))),
    CONSTRAINT "leader_profiles_status_check" CHECK (("status" = ANY (ARRAY['ACTIVE'::"text", 'INACTIVE'::"text"])))
);


ALTER TABLE "public"."leader_profiles" OWNER TO "postgres";


COMMENT ON TABLE "public"."leader_profiles" IS 'Dados estendidos dos líderes';



COMMENT ON COLUMN "public"."leader_profiles"."status" IS 'Status do líder: ACTIVE, INACTIVE';



COMMENT ON COLUMN "public"."leader_profiles"."goal" IS 'Meta de contatos para o líder';



CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "full_name" "text",
    "role" "text" DEFAULT 'LEADER'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "profiles_role_check" CHECK (("role" = ANY (ARRAY['ADMIN'::"text", 'LEADER'::"text"])))
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


COMMENT ON TABLE "public"."profiles" IS 'Perfis básicos de usuários do sistema (ADMIN/LEADER)';



COMMENT ON COLUMN "public"."profiles"."role" IS 'Papel do usuário: ADMIN (acesso total) ou LEADER (acesso limitado)';



CREATE OR REPLACE VIEW "public"."app_leaders_list" AS
 SELECT "p"."id",
    "p"."email",
    "p"."full_name",
    "lp"."status",
    "lp"."phone",
    "lp"."city",
    "lp"."state",
    "lp"."neighborhood",
    "lp"."goal",
    "lp"."latitude",
    "lp"."longitude",
    "it"."created_at" AS "invited_at",
    "it"."accepted_at",
        CASE
            WHEN ("lp"."status" = 'ACTIVE'::"text") THEN true
            ELSE false
        END AS "is_active",
        CASE
            WHEN ("lp"."status" = 'PENDING'::"text") THEN true
            ELSE false
        END AS "is_pending",
    "p"."created_at",
    "lp"."updated_at"
   FROM (("public"."profiles" "p"
     LEFT JOIN "public"."leader_profiles" "lp" ON (("p"."id" = "lp"."id")))
     LEFT JOIN "public"."invite_tokens" "it" ON (("p"."id" = "it"."leader_profile_id")))
  WHERE ("p"."role" = 'LEADER'::"text");


ALTER VIEW "public"."app_leaders_list" OWNER TO "postgres";


COMMENT ON VIEW "public"."app_leaders_list" IS 'Lista de líderes para administração (atualizada com campo goal)';



CREATE TABLE IF NOT EXISTS "public"."audit_logs" (
    "id" bigint NOT NULL,
    "table_name" "text" NOT NULL,
    "record_id" "uuid",
    "action" "text" NOT NULL,
    "actor_id" "uuid",
    "details" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "audit_logs_action_check" CHECK (("action" = ANY (ARRAY['CREATE'::"text", 'UPDATE'::"text", 'DELETE'::"text"])))
);


ALTER TABLE "public"."audit_logs" OWNER TO "postgres";


COMMENT ON TABLE "public"."audit_logs" IS 'Log de auditoria do sistema';



CREATE SEQUENCE IF NOT EXISTS "public"."audit_logs_id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE "public"."audit_logs_id_seq" OWNER TO "postgres";


ALTER SEQUENCE "public"."audit_logs_id_seq" OWNED BY "public"."audit_logs"."id";



CREATE TABLE IF NOT EXISTS "public"."city_goals" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "city" "text" NOT NULL,
    "state" "text" NOT NULL,
    "goal_total" integer NOT NULL,
    "deadline" "date",
    "created_by" "uuid",
    "updated_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "city_goals_goal_total_check" CHECK (("goal_total" > 0))
);


ALTER TABLE "public"."city_goals" OWNER TO "postgres";


COMMENT ON TABLE "public"."city_goals" IS 'Metas por cidade';



CREATE TABLE IF NOT EXISTS "public"."election_settings" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "election_name" "text" NOT NULL,
    "election_date" "date" NOT NULL,
    "timezone" "text" DEFAULT 'America/Sao_Paulo'::"text",
    "election_type" "text" NOT NULL,
    "uf" "text",
    "city" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "election_level" "text",
    "scope_state" "text",
    "scope_city" "text",
    "scope_city_ibge" "text",
    CONSTRAINT "election_settings_election_level_check" CHECK (("election_level" = ANY (ARRAY['MUNICIPAL'::"text", 'ESTADUAL'::"text", 'FEDERAL'::"text"]))),
    CONSTRAINT "election_settings_election_type_check" CHECK (("election_type" = ANY (ARRAY['MUNICIPAL'::"text", 'ESTADUAL'::"text", 'FEDERAL'::"text"])))
);


ALTER TABLE "public"."election_settings" OWNER TO "postgres";


COMMENT ON TABLE "public"."election_settings" IS 'Configurações das eleições';



COMMENT ON COLUMN "public"."election_settings"."election_level" IS 'Nível da eleição: MUNICIPAL, ESTADUAL, FEDERAL';



COMMENT ON COLUMN "public"."election_settings"."scope_state" IS 'Estado de escopo da eleição';



COMMENT ON COLUMN "public"."election_settings"."scope_city" IS 'Cidade de escopo da eleição';



COMMENT ON COLUMN "public"."election_settings"."scope_city_ibge" IS 'Código IBGE da cidade de escopo';



CREATE TABLE IF NOT EXISTS "public"."leader_areas" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "leader_id" "uuid" NOT NULL,
    "city" "text" NOT NULL,
    "state" "text" NOT NULL,
    "neighborhood" "text",
    "target" integer,
    "notes" "text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "leader_areas_target_check" CHECK (("target" > 0))
);


ALTER TABLE "public"."leader_areas" OWNER TO "postgres";


COMMENT ON TABLE "public"."leader_areas" IS 'Áreas de atuação dos líderes';



CREATE TABLE IF NOT EXISTS "public"."neighborhood_goals" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "city" "text" NOT NULL,
    "state" "text" NOT NULL,
    "neighborhood" "text" NOT NULL,
    "goal_total" integer NOT NULL,
    "city_goal_id" "uuid",
    "created_by" "uuid",
    "updated_by" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "neighborhood_goals_goal_total_check" CHECK (("goal_total" > 0))
);


ALTER TABLE "public"."neighborhood_goals" OWNER TO "postgres";


COMMENT ON TABLE "public"."neighborhood_goals" IS 'Metas por bairro';



CREATE TABLE IF NOT EXISTS "public"."org_settings" (
    "id" integer DEFAULT 1 NOT NULL,
    "default_goal" integer DEFAULT 100,
    "organization_name" "text" DEFAULT 'Organização Política'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."org_settings" OWNER TO "postgres";


COMMENT ON TABLE "public"."org_settings" IS 'Configurações gerais da organização';



COMMENT ON COLUMN "public"."org_settings"."default_goal" IS 'Meta padrão para novos líderes';



CREATE TABLE IF NOT EXISTS "public"."people" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "owner_id" "uuid" NOT NULL,
    "full_name" "text" NOT NULL,
    "whatsapp" "text" NOT NULL,
    "email" "text",
    "facebook" "text",
    "instagram" "text",
    "cep" "text",
    "street" "text",
    "number" "text",
    "complement" "text",
    "neighborhood" "text",
    "city" "text",
    "state" "text",
    "notes" "text",
    "latitude" numeric,
    "longitude" numeric,
    "vote_status" "text" DEFAULT 'INDEFINIDO'::"text",
    "contacted_at" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "people_vote_status_check" CHECK (("vote_status" = ANY (ARRAY['CONFIRMADO'::"text", 'PROVAVEL'::"text", 'INDEFINIDO'::"text"])))
);


ALTER TABLE "public"."people" OWNER TO "postgres";


COMMENT ON TABLE "public"."people" IS 'Contatos e eleitores do sistema';



COMMENT ON COLUMN "public"."people"."vote_status" IS 'Status do voto: CONFIRMADO, PROVAVEL, INDEFINIDO';



CREATE TABLE IF NOT EXISTS "public"."profile_leaderships" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "profile_id" "uuid" NOT NULL,
    "role_code" "text" NOT NULL,
    "level" integer,
    "reach_scope" "text",
    "reach_size" integer,
    "organization" "text",
    "title" "text",
    "extra" "jsonb",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    CONSTRAINT "profile_leaderships_reach_scope_check" CHECK (("reach_scope" = ANY (ARRAY['FAMILIA'::"text", 'BAIRRO'::"text", 'CIDADE'::"text", 'REGIAO'::"text", 'ONLINE'::"text"])))
);


ALTER TABLE "public"."profile_leaderships" OWNER TO "postgres";


COMMENT ON TABLE "public"."profile_leaderships" IS 'Papéis de liderança dos usuários';



CREATE TABLE IF NOT EXISTS "public"."public_settings" (
    "id" integer DEFAULT 1 NOT NULL,
    "organization_name" "text",
    "default_goal" integer DEFAULT 100,
    "election_name" "text",
    "election_date" "date",
    "timezone" "text" DEFAULT 'America/Sao_Paulo'::"text",
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "election_level" "text",
    "scope_state" "text",
    "scope_city" "text",
    "scope_city_ibge" bigint
);


ALTER TABLE "public"."public_settings" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."vw_votes_by_city" AS
 SELECT "city",
    "state",
    "count"(*) AS "total_people",
    "count"(
        CASE
            WHEN ("vote_status" = 'CONFIRMADO'::"text") THEN 1
            ELSE NULL::integer
        END) AS "confirmed",
    "count"(
        CASE
            WHEN ("vote_status" = 'PROVAVEL'::"text") THEN 1
            ELSE NULL::integer
        END) AS "probable",
    "count"(
        CASE
            WHEN ("vote_status" = 'INDEFINIDO'::"text") THEN 1
            ELSE NULL::integer
        END) AS "undefined"
   FROM "public"."people" "p"
  WHERE (("city" IS NOT NULL) AND ("state" IS NOT NULL))
  GROUP BY "city", "state"
  ORDER BY "city", "state";


ALTER VIEW "public"."vw_votes_by_city" OWNER TO "postgres";


CREATE OR REPLACE VIEW "public"."vw_votes_by_neighborhood" AS
 SELECT "city",
    "state",
    "neighborhood",
    "count"(*) AS "total_people",
    "count"(
        CASE
            WHEN ("vote_status" = 'CONFIRMADO'::"text") THEN 1
            ELSE NULL::integer
        END) AS "confirmed",
    "count"(
        CASE
            WHEN ("vote_status" = 'PROVAVEL'::"text") THEN 1
            ELSE NULL::integer
        END) AS "probable",
    "count"(
        CASE
            WHEN ("vote_status" = 'INDEFINIDO'::"text") THEN 1
            ELSE NULL::integer
        END) AS "undefined"
   FROM "public"."people" "p"
  WHERE (("city" IS NOT NULL) AND ("state" IS NOT NULL) AND ("neighborhood" IS NOT NULL))
  GROUP BY "city", "state", "neighborhood"
  ORDER BY "city", "neighborhood";


ALTER VIEW "public"."vw_votes_by_neighborhood" OWNER TO "postgres";


ALTER TABLE ONLY "public"."audit_logs" ALTER COLUMN "id" SET DEFAULT "nextval"('"public"."audit_logs_id_seq"'::"regclass");



ALTER TABLE ONLY "public"."app_admins"
    ADD CONSTRAINT "app_admins_pkey" PRIMARY KEY ("user_id");



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."city_goals"
    ADD CONSTRAINT "city_goals_city_state_key" UNIQUE ("city", "state");



ALTER TABLE ONLY "public"."city_goals"
    ADD CONSTRAINT "city_goals_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."election_settings"
    ADD CONSTRAINT "election_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."invite_tokens"
    ADD CONSTRAINT "invite_tokens_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."invite_tokens"
    ADD CONSTRAINT "invite_tokens_token_key" UNIQUE ("token");



ALTER TABLE ONLY "public"."leader_areas"
    ADD CONSTRAINT "leader_areas_leader_id_city_state_neighborhood_key" UNIQUE ("leader_id", "city", "state", "neighborhood");



ALTER TABLE ONLY "public"."leader_areas"
    ADD CONSTRAINT "leader_areas_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."leader_profiles"
    ADD CONSTRAINT "leader_profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."neighborhood_goals"
    ADD CONSTRAINT "neighborhood_goals_city_state_neighborhood_key" UNIQUE ("city", "state", "neighborhood");



ALTER TABLE ONLY "public"."neighborhood_goals"
    ADD CONSTRAINT "neighborhood_goals_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."org_settings"
    ADD CONSTRAINT "org_settings_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."people"
    ADD CONSTRAINT "people_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profile_leaderships"
    ADD CONSTRAINT "profile_leaderships_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."public_settings"
    ADD CONSTRAINT "public_settings_pkey" PRIMARY KEY ("id");



CREATE INDEX "city_goals_city_state_idx" ON "public"."city_goals" USING "btree" ("city", "state");



CREATE INDEX "leader_areas_city_state_idx" ON "public"."leader_areas" USING "btree" ("city", "state");



CREATE INDEX "leader_areas_leader_idx" ON "public"."leader_areas" USING "btree" ("leader_id");



CREATE INDEX "neighborhood_goals_city_idx" ON "public"."neighborhood_goals" USING "btree" ("city");



CREATE INDEX "neighborhood_goals_city_state_idx" ON "public"."neighborhood_goals" USING "btree" ("city", "state");



CREATE INDEX "people_city_state_idx" ON "public"."people" USING "btree" ("city", "state");



CREATE INDEX "people_full_name_idx" ON "public"."people" USING "gin" ("to_tsvector"('"simple"'::"regconfig", "full_name"));



CREATE INDEX "people_neighborhood_idx" ON "public"."people" USING "btree" ("neighborhood");



CREATE INDEX "people_owner_idx" ON "public"."people" USING "btree" ("owner_id");



CREATE INDEX "people_whatsapp_idx" ON "public"."people" USING "btree" ("whatsapp");



CREATE INDEX "profile_leaderships_profile_idx" ON "public"."profile_leaderships" USING "btree" ("profile_id");



CREATE INDEX "profile_leaderships_role_idx" ON "public"."profile_leaderships" USING "btree" ("role_code");



CREATE OR REPLACE TRIGGER "sync_public_settings_trigger" AFTER INSERT OR UPDATE ON "public"."election_settings" FOR EACH ROW EXECUTE FUNCTION "public"."trigger_sync_public_settings"();



CREATE OR REPLACE TRIGGER "update_city_goals_updated_at" BEFORE UPDATE ON "public"."city_goals" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_election_settings_updated_at" BEFORE UPDATE ON "public"."election_settings" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_leader_areas_updated_at" BEFORE UPDATE ON "public"."leader_areas" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_leader_profiles_updated_at" BEFORE UPDATE ON "public"."leader_profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_neighborhood_goals_updated_at" BEFORE UPDATE ON "public"."neighborhood_goals" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_org_settings_updated_at" BEFORE UPDATE ON "public"."org_settings" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_people_updated_at" BEFORE UPDATE ON "public"."people" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_profile_leaderships_updated_at" BEFORE UPDATE ON "public"."profile_leaderships" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



CREATE OR REPLACE TRIGGER "update_profiles_updated_at" BEFORE UPDATE ON "public"."profiles" FOR EACH ROW EXECUTE FUNCTION "public"."update_updated_at_column"();



ALTER TABLE ONLY "public"."audit_logs"
    ADD CONSTRAINT "audit_logs_actor_id_fkey" FOREIGN KEY ("actor_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."city_goals"
    ADD CONSTRAINT "city_goals_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."city_goals"
    ADD CONSTRAINT "city_goals_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."invite_tokens"
    ADD CONSTRAINT "invite_tokens_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."invite_tokens"
    ADD CONSTRAINT "invite_tokens_leader_profile_id_fkey" FOREIGN KEY ("leader_profile_id") REFERENCES "public"."profiles"("id");



ALTER TABLE ONLY "public"."leader_areas"
    ADD CONSTRAINT "leader_areas_leader_id_fkey" FOREIGN KEY ("leader_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."leader_profiles"
    ADD CONSTRAINT "leader_profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."neighborhood_goals"
    ADD CONSTRAINT "neighborhood_goals_city_goal_id_fkey" FOREIGN KEY ("city_goal_id") REFERENCES "public"."city_goals"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."neighborhood_goals"
    ADD CONSTRAINT "neighborhood_goals_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."neighborhood_goals"
    ADD CONSTRAINT "neighborhood_goals_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."people"
    ADD CONSTRAINT "people_owner_id_fkey" FOREIGN KEY ("owner_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profile_leaderships"
    ADD CONSTRAINT "profile_leaderships_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE "public"."audit_logs" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "audit_logs_admin_only" ON "public"."audit_logs" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."city_goals" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "city_goals_admin_only" ON "public"."city_goals" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."election_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "election_settings_admin_only" ON "public"."election_settings" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."invite_tokens" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "invite_tokens_admin_only" ON "public"."invite_tokens" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."leader_areas" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "leader_areas_admin_only" ON "public"."leader_areas" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."leader_profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "leader_profiles_delete_admin" ON "public"."leader_profiles" FOR DELETE USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



CREATE POLICY "leader_profiles_insert_admin" ON "public"."leader_profiles" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



CREATE POLICY "leader_profiles_select_self_or_admin" ON "public"."leader_profiles" FOR SELECT USING ((("id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text"))))));



CREATE POLICY "leader_profiles_update_self_or_admin" ON "public"."leader_profiles" FOR UPDATE USING ((("id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text"))))));



ALTER TABLE "public"."neighborhood_goals" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "neighborhood_goals_admin_only" ON "public"."neighborhood_goals" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."org_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "org_settings_admin_only" ON "public"."org_settings" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."people" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "people_delete_admin_or_owner" ON "public"."people" FOR DELETE USING (((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))) OR ("owner_id" = "auth"."uid"())));



COMMENT ON POLICY "people_delete_admin_or_owner" ON "public"."people" IS 'ADMIN pode deletar tudo, outros apenas seus dados';



CREATE POLICY "people_insert_admin_or_owner" ON "public"."people" FOR INSERT WITH CHECK (((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))) OR ("owner_id" = "auth"."uid"())));



COMMENT ON POLICY "people_insert_admin_or_owner" ON "public"."people" IS 'ADMIN pode inserir qualquer coisa, outros apenas para si';



CREATE POLICY "people_select_admin_or_owner" ON "public"."people" FOR SELECT USING (((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))) OR ("owner_id" = "auth"."uid"())));



COMMENT ON POLICY "people_select_admin_or_owner" ON "public"."people" IS 'ADMIN vê tudo, outros veem apenas seus dados';



CREATE POLICY "people_update_admin_or_owner" ON "public"."people" FOR UPDATE USING (((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))) OR ("owner_id" = "auth"."uid"()))) WITH CHECK (((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))) OR ("owner_id" = "auth"."uid"())));



COMMENT ON POLICY "people_update_admin_or_owner" ON "public"."people" IS 'ADMIN pode atualizar tudo, outros apenas seus dados';



ALTER TABLE "public"."profile_leaderships" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "profile_leaderships_delete_admin" ON "public"."profile_leaderships" FOR DELETE USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



CREATE POLICY "profile_leaderships_insert_admin" ON "public"."profile_leaderships" FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



CREATE POLICY "profile_leaderships_select_self_or_admin" ON "public"."profile_leaderships" FOR SELECT USING ((("profile_id" = "auth"."uid"()) OR (EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text"))))));



CREATE POLICY "profile_leaderships_update_admin" ON "public"."profile_leaderships" FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM "public"."profiles" "p"
  WHERE (("p"."id" = "auth"."uid"()) AND ("p"."role" = 'ADMIN'::"text")))));



ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "profiles_insert_authenticated" ON "public"."profiles" FOR INSERT TO "authenticated" WITH CHECK (true);



COMMENT ON POLICY "profiles_insert_authenticated" ON "public"."profiles" IS 'Usuários autenticados podem criar profiles';



CREATE POLICY "profiles_insert_self" ON "public"."profiles" FOR INSERT WITH CHECK (("id" = "auth"."uid"()));



CREATE POLICY "profiles_select_authenticated" ON "public"."profiles" FOR SELECT TO "authenticated" USING (true);



COMMENT ON POLICY "profiles_select_authenticated" ON "public"."profiles" IS 'Usuários autenticados podem ver profiles';



CREATE POLICY "profiles_select_self_or_admin" ON "public"."profiles" FOR SELECT USING (("id" = "auth"."uid"()));



CREATE POLICY "profiles_update_authenticated" ON "public"."profiles" FOR UPDATE TO "authenticated" USING (true) WITH CHECK (true);



COMMENT ON POLICY "profiles_update_authenticated" ON "public"."profiles" IS 'Usuários autenticados podem atualizar profiles';



CREATE POLICY "profiles_update_self" ON "public"."profiles" FOR UPDATE USING (("id" = "auth"."uid"()));



ALTER TABLE "public"."public_settings" ENABLE ROW LEVEL SECURITY;


CREATE POLICY "public_settings_admin_update" ON "public"."public_settings" FOR UPDATE TO "authenticated" USING ((EXISTS ( SELECT 1
   FROM "public"."profiles"
  WHERE (("profiles"."id" = "auth"."uid"()) AND ("profiles"."role" = 'ADMIN'::"text")))));



CREATE POLICY "public_settings_authenticated_read" ON "public"."public_settings" FOR SELECT TO "authenticated" USING (true);





ALTER PUBLICATION "supabase_realtime" OWNER TO "postgres";





GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";































































































































































GRANT ALL ON FUNCTION "public"."get_current_election"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_current_election"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_current_election"() TO "service_role";



GRANT ALL ON FUNCTION "public"."sync_public_settings"() TO "anon";
GRANT ALL ON FUNCTION "public"."sync_public_settings"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."sync_public_settings"() TO "service_role";



GRANT ALL ON FUNCTION "public"."trigger_sync_public_settings"() TO "anon";
GRANT ALL ON FUNCTION "public"."trigger_sync_public_settings"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."trigger_sync_public_settings"() TO "service_role";



GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "anon";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."update_updated_at_column"() TO "service_role";


















GRANT ALL ON TABLE "public"."app_admins" TO "anon";
GRANT ALL ON TABLE "public"."app_admins" TO "authenticated";
GRANT ALL ON TABLE "public"."app_admins" TO "service_role";



GRANT ALL ON TABLE "public"."invite_tokens" TO "anon";
GRANT ALL ON TABLE "public"."invite_tokens" TO "authenticated";
GRANT ALL ON TABLE "public"."invite_tokens" TO "service_role";



GRANT ALL ON TABLE "public"."leader_profiles" TO "anon";
GRANT ALL ON TABLE "public"."leader_profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."leader_profiles" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."app_leaders_list" TO "anon";
GRANT ALL ON TABLE "public"."app_leaders_list" TO "authenticated";
GRANT ALL ON TABLE "public"."app_leaders_list" TO "service_role";



GRANT ALL ON TABLE "public"."audit_logs" TO "anon";
GRANT ALL ON TABLE "public"."audit_logs" TO "authenticated";
GRANT ALL ON TABLE "public"."audit_logs" TO "service_role";



GRANT ALL ON SEQUENCE "public"."audit_logs_id_seq" TO "anon";
GRANT ALL ON SEQUENCE "public"."audit_logs_id_seq" TO "authenticated";
GRANT ALL ON SEQUENCE "public"."audit_logs_id_seq" TO "service_role";



GRANT ALL ON TABLE "public"."city_goals" TO "anon";
GRANT ALL ON TABLE "public"."city_goals" TO "authenticated";
GRANT ALL ON TABLE "public"."city_goals" TO "service_role";



GRANT ALL ON TABLE "public"."election_settings" TO "anon";
GRANT ALL ON TABLE "public"."election_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."election_settings" TO "service_role";



GRANT ALL ON TABLE "public"."leader_areas" TO "anon";
GRANT ALL ON TABLE "public"."leader_areas" TO "authenticated";
GRANT ALL ON TABLE "public"."leader_areas" TO "service_role";



GRANT ALL ON TABLE "public"."neighborhood_goals" TO "anon";
GRANT ALL ON TABLE "public"."neighborhood_goals" TO "authenticated";
GRANT ALL ON TABLE "public"."neighborhood_goals" TO "service_role";



GRANT ALL ON TABLE "public"."org_settings" TO "anon";
GRANT ALL ON TABLE "public"."org_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."org_settings" TO "service_role";



GRANT ALL ON TABLE "public"."people" TO "anon";
GRANT ALL ON TABLE "public"."people" TO "authenticated";
GRANT ALL ON TABLE "public"."people" TO "service_role";



GRANT ALL ON TABLE "public"."profile_leaderships" TO "anon";
GRANT ALL ON TABLE "public"."profile_leaderships" TO "authenticated";
GRANT ALL ON TABLE "public"."profile_leaderships" TO "service_role";



GRANT ALL ON TABLE "public"."public_settings" TO "anon";
GRANT ALL ON TABLE "public"."public_settings" TO "authenticated";
GRANT ALL ON TABLE "public"."public_settings" TO "service_role";



GRANT ALL ON TABLE "public"."vw_votes_by_city" TO "anon";
GRANT ALL ON TABLE "public"."vw_votes_by_city" TO "authenticated";
GRANT ALL ON TABLE "public"."vw_votes_by_city" TO "service_role";



GRANT ALL ON TABLE "public"."vw_votes_by_neighborhood" TO "anon";
GRANT ALL ON TABLE "public"."vw_votes_by_neighborhood" TO "authenticated";
GRANT ALL ON TABLE "public"."vw_votes_by_neighborhood" TO "service_role";









ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";






























\unrestrict Wq3rrHMyyk68XeBUWg8qEsZqlIAdOWxKF9jGbVxlK856L84AbevUSbWckxzBjcC

RESET ALL;
